#boss-helper-external-wrapper {
  .c-expect-select .expect-list .expect-item,
  .c-expect-select .part-time-expect,
  .c-expect-select .synthesis,
  .expect-select-filter .current-text {
    color: #000 !important;
  }

  .c-expect-select .expect-list .expect-item:hover,
  .c-expect-select .part-time-expect:hover,
  .c-expect-select .synthesis:hover {
    color: #0d9ea3 !important;
  }

  .c-expect-select .expect-list .expect-item.active,
  .c-expect-select .part-time-expect.active,
  .c-expect-select .synthesis.active {
    font-weight: 500 !important;
    color: #0d9ea3 !important;
  }

  .c-expect-select,
  .c-search-input {
    width: 100% !important;
  }

  .c-filter-condition {
    flex-wrap: wrap !important;
    gap: 8px !important;
    > div {
      margin-right: 0px !important;
    }
  }
  .c-expect-select .expect-list {
    max-width: unset !important;
  }
  .c-filter-condition .filter-city-area {
    z-index: 2000 !important;
    top: unset !important;
  }
}

.page-jobs#wrap {
  padding-top: 49px !important;
}

.page-jobs-main .job-detail-container {
  max-height: calc(100vh - 70px) !important;
  top: 70px !important;
}

.page-jobs-main {
  margin-bottom: -20px !important;
}

.page-jobs-main.is-fixed-filter {
  padding-top: 0px !important;
}

#loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: #54f98d;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  top: -14px;
  &::after,
  &::before {
    content: '';
    width: 10px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
  }

  &::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
  }

  @keyframes coli1 {
    0% {
      transform: rotate(-45deg) translateX(0px);
      opacity: 0.7;
    }

    100% {
      transform: rotate(-45deg) translateX(-45px);
      opacity: 0;
    }
  }

  @keyframes coli2 {
    0% {
      transform: rotate(45deg) translateX(0px);
      opacity: 1;
    }

    100% {
      transform: rotate(45deg) translateX(-45px);
      opacity: 0.7;
    }
  }
}
